@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#fr {
  display: flex;
  flex-direction: row;
}

#en {
  display: none;
  flex-direction: row;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
}

h1, h2, h3 {
  color: #222222;
}

.left {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  max-width: 290px;
  margin: 0 20px 0 0;
  background-color: #8c9eff;
  z-index: 3;
}
.left .picture_container {
  display: flex;
  justify-content: center;
}
.left .picture_container .pic {
  border-radius: 500PX;
  margin: 20px;
}
.left .picture_container .pic img {
  height: 120px;
  width: 120px;
  border-radius: 500px;
}
.left .left_side_title {
  width: 100%;
  text-align: center;
  background-color: #222222;
  color: #8c9eff;
}
.left .left_side_title h3 {
  padding: 3px;
  color: #8c9eff;
}
.left .hobbies_container {
  margin-top: auto;
}
.left .left_side_content {
  margin: 0 20px;
}
.left .about_container {
  text-align: justify;
}
.left .icon_content {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: #222222;
  margin-bottom: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  z-index: 1;
}
.right .right_container {
  margin: 10px 0;
}
.right .flag_container {
  display: flex;
  position: absolute;
  top: 40px;
  right: 40px;
}
.right .flag_container .flag {
  width: 30px;
  margin: 5px;
  cursor: pointer;
}
.right .title_container {
  display: flex;
  flex-wrap: wrap;
}
.right .title_container .name_container {
  display: flex;
  width: 100%;
  margin-bottom: 0;
}
.right .title_container .name_container .name {
  margin: 0 10px;
  color: #8c9eff;
}
.right .title_container h3 {
  margin-top: 5px;
}
.right .education_content {
  display: flex;
  justify-content: space-between;
}
.right .work_experience {
  display: flex;
  justify-content: space-between;
}
.right .info_right {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.right .info_right .right_side_dot {
  color: #8c9eff;
  margin: 10px;
}
.right .info_right .right_side_dot :first-child {
  font-weight: 400;
}
.right .info_right .recent_dot :first-child {
  font-weight: 900;
}
.right .info_right .right_side_info {
  min-width: 150px;
}
.right .right_side_text {
  flex-basis: 100%;
}
.right .right_side_text .content_title {
  margin-bottom: 5px;
}
.right .right_side_text .content_subtitle {
  margin-bottom: 5px;
  font-style: italic;
}
.right .reference_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.right .reference_content .reference {
  min-width: 50%;
}
.right .right_side_title {
  border-bottom: 5px solid #8c9eff;
  margin-bottom: 10px;
  display: flex;
}
.right .right_side_title h3 {
  margin: 0;
  line-height: 2;
}
.right .right_side_title .icon_title_right {
  height: 40PX;
  width: 40px;
  font-size: 30px;
  margin: 0 15px;
  color: #8c9eff;
}

/*# sourceMappingURL=cv.css.map */
