<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/cv.css">
    <link href="/fontawesome/css/all.css" rel="stylesheet">
</head>
<body>
    <div id="fr">
        <div class="left">
            <div class="picture_container">
                <div class="pic">
                    <img src="/CV-photo.jpeg">
                </div>
            </div>
            <div class="contact_container">
                <div class="title left_side_title">
                    <h3>CONTACT</h3>
                </div>
                <div class="left_side_content">
                    Adresse<br>
                    Nice, France<br><br>
                    Téléphone<br>
                    06 46 72 69 12<br><br>
                    Email<br>
                    albertmelanie@gmail.com<br><br>
                    Site-web<br>
                    https://melanie-albert.herokuapp.com/<br><br>
                    Skype<br>
                    TestSkype<br>
                </div>
            </div>
            <div class="about_container">
                <div class="title left_side_title">
                    <h3>À PROPOS DE MOI</h3>
                </div>
                <div class="left_side_content">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus eu enim vitae tempus. Aliquam eget faucibus nisi. Nam ligula augue, cursus quis vulputate id, dignissim id ante. Nulla mollis risus ut lorem ultrices, at accumsan mi rhoncus. Sed tristique purus in dui finibus, eget interdum ex venenatis.
                </div>
            </div>
            <div class ="hobbies_container">
                <div class="title left_side_title">
                    <h3>LOISIRS</h3>
                </div>
                <div class="icon_content">
                    <i class="fas fa-hiking"></i>
                    <i class="fas fa-table-tennis"></i>
                    <i class="fas fa-guitar"></i>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="title_container">
                <h1 class="name_container">MELANIE <div class="name">ALBERT</div></h1>
                <h3 class="subtitle">Responsable de communication</h3>
            </div>
            <div class="education_container">
                <div class="title right_side_title">
                    <div class="icon_title_right">
                        <i class="fas fa-graduation-cap"></i>
                    </div>
                    <h3>FORMATION</h3>
                </div>
                <div class="right_side_content">
                    <div class="education_content">
                        <div class="info_right">
                            <div class="right_side_dot recent_dot">
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="right_side_info">
                                2018-2020<br>
                                Nice
                            </div>
                        </div>
                        <div class="right_side_text">
                            <h4 class="content_title">UNIVERSITE COTE D'AZUR</h4>
                            <div class="content_subtitle">Licence Sciences de l'information et de la Communication</div>
                            <div class="content_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus eu enim vitae tempus. Aliquam eget faucibus nisi. Nam ligula augue, cursus quis vulputate id, dignissim id ante. Nulla mollis risus ut lorem ultrices, at accumsan mi rhoncus. Sed tristique purus in dui finibus, eget interdum ex venenatis.
                            </div>
                        </div>
                    </div>
                    <div class="education_content">
                        <div class="info_right">
                            <div class="right_side_dot">
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="right_side_info">
                                2018-2020<br>
                                Nice
                            </div>
                        </div>
                        <div class="right_side_text">
                            <h4 class="content_title">LYCEE BENJAMIN FRANKLIN</h4>
                            <div class="content_subtitle">Filiere Economique et Sociale</div>
                            <div class="content_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus eu enim vitae tempus. Aliquam eget faucibus nisi. Nam ligula augue, cursus quis vulputate id, dignissim id ante. Nulla mollis risus ut lorem ultrices, at accumsan mi rhoncus. Sed tristique purus in dui finibus, eget interdum ex venenatis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experience_container">
                <div class="title right_side_title">
                    <div class="icon_title_right">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <h3>EXPERIENCE PROFESSIONELLE</h3>
                </div>
                <div class="right_side_content">
                    <div class="work_experience">
                        <div class="info_right">
                            <div class="right_side_dot recent_dot">
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="right_side_info">
                                2018-2020<br>
                                Nice
                            </div>
                        </div>
                        <div class="right_side_text">
                            <h4 class="content_title">UNIVERSITE COTE D'AZUR</h4>
                            <div class="content_subtitle">Licence Sciences de l'information et de la Communication</div>
                            <div class="content_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus eu enim vitae tempus. Aliquam eget faucibus nisi. Nam ligula augue, cursus quis vulputate id, dignissim id ante. Nulla mollis risus ut lorem ultrices, at accumsan mi rhoncus. Sed tristique purus in dui finibus, eget interdum ex venenatis.
                            </div>
                        </div>
                    </div>
                    <div class="work_experience">
                        <div class="info_right">
                            <div class="right_side_dot">
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="right_side_info">
                                2018-2020<br>
                                Nice
                            </div>
                        </div>
                        <div class="right_side_text">
                            <h4 class="content_title">UNIVERSITE COTE D'AZUR</h4>
                            <div class="content_subtitle">Licence Sciences de l'information et de la Communication</div>
                            <div class="content_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus eu enim vitae tempus. Aliquam eget faucibus nisi. Nam ligula augue, cursus quis vulputate id, dignissim id ante. Nulla mollis risus ut lorem ultrices, at accumsan mi rhoncus. Sed tristique purus in dui finibus, eget interdum ex venenatis.
                            </div>
                        </div>
                    </div>
                    <div class="work_experience">
                        <div class="info_right">
                            <div class="right_side_dot">
                                <i class="fas fa-circle"></i>
                            </div>
                            <div class="right_side_info">
                                2018-2020<br>
                                Nice
                            </div>
                        </div>
                        <div class="right_side_text">
                            <h4 class="content_title">UNIVERSITE COTE D'AZUR</h4>
                            <div class="content_subtitle">Licence Sciences de l'information et de la Communication</div>
                            <div class="content_text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur faucibus eu enim vitae tempus. Aliquam eget faucibus nisi. Nam ligula augue, cursus quis vulputate id, dignissim id ante. Nulla mollis risus ut lorem ultrices, at accumsan mi rhoncus. Sed tristique purus in dui finibus, eget interdum ex venenatis.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="experience_container">
                <div class="title right_side_title">
                    <div class="icon_title_right">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                    <h3>RECOMMANDATIONS</h3>
                </div>
                <div class="reference_content">
                    <div class="reference">
                        <div class="right_side_text">
                            <h4 class="content_title">MAXIME TEST</h4>
                            <div class="content_subtitle">Directeur, mon agence</div>
                            <div class="content_text">
                                Telephone:<br>
                                Email:
                            </div>
                        </div>
                    </div>
                    <div class="reference">
                        <div class="right_side_text">
                            <h4 class="content_title">MAXIME TEST</h4>
                            <div class="content_subtitle">Directeur, mon agence</div>
                            <div class="content_text">
                                Telephone:<br>
                                Email:
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
